@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
  width: 500px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 10px auto;
}

h1 {
	text-indent: 30px;
	margin-bottom: 15px;
}


div#goodsListArea {
	width: 100%;
/* 	border: 1px solid #000; */
}


/* 게시판 목록의 공통 사항 시작 */
#goodsListArea .listCol>span {
	padding: 8px 2px;
/* 	border: 1px solid #f80; */
}

#goodsListArea .listCol>span:nth-child(1) {
	width: 60px;
}
#goodsListArea .listCol>span:nth-child(2) {
	flex: 1;
}
#goodsListArea .listCol>span:nth-child(3) {
	width: 120px;
}
#goodsListArea .listCol>span:nth-child(4) {
	width: 80px;
}
#goodsListArea .listCol>span:nth-child(5) {
	width: 70px;
}
/* 게시판 목록의 공통 사항 끝 */

/* 게시판 목록 열제목 시작 */
#goodsListArea #listHeader {
	border-bottom: 2px solid #ddd;
	background-color: rgba(0, 136, 255, 0.4);
}
#goodsListArea #listHeader>span {
	font-weight: bold;
	text-align: center;
}
/* 게시판 목록 열제목 끝 */


/* 게시판 목록 내용 시작 */
#goodsListArea .listRow {
	border-bottom: 1px solid #aaa;
}
#goodsListArea .listRow>span:not(:nth-child(2)) {
	text-align: center;
}
#goodsListArea .listRow:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
/* 게시판 목록 내용 끝 */


/* 상품 수정 영역 시작 */
div#updateArea {
	text-align: center;
	padding: 12px 0;
	border-bottom: 1px solid #aaa;
}
#updateArea label:first-child {
	margin-right: 20px;
}
#updateArea span {
	font-size: 17px;
}
#updateArea input {
	width: 50px;
	font-size: 17px;
	padding: 3px 8px 4px;
}
#updateArea label:last-child input {
	width: 120px;
}
/* 상품 수정 영역 끝 */


/* 상품 수정 버튼 영역 시작 */
div#btnArea {
	padding: 15px;
	text-align: center;
}
div#btnArea button {
	font-size: 18px;
	padding: 3px 10px;
	cursor: pointer;
}
/* 상품 수정 버튼 영역 끝 */




